{% extends 'app/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<h1> TRADE PAGE</h1> <br>
<h4> <font color = 'ffffff'>YOU CAN SPEND <font color = '7FFFD4'>{{ balance }} € </font > AND  <font color = '7FFFD4'> {{ BTC }}  BTC</font > </font> </h4>
    <div class = 'content section'>
        <form method = 'POST'>
            {% csrf_token %}
            <fieldset class = 'form-group'>
                <legend class = 'border-bottom mb-4'></legend>
                    {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit" name ="buy">Buy</button>
                <button class="btn btn-outline-info" type="submit" name ="sell">Sell</button>
            </div>
        </form> <br> <br>

        <legend class = 'border-bottom mb-4'> </legend>

        <h4><font color = #fafafa>
        The actual price of bitcoin, according CoinmarketCap is  <font color="#7FFFD4"> {{ actualBtc}}  € </font>.</font> </h4> <br><br>
    </div>
{% endblock %}