{% extends "app/base.html" %}
{% block content %}

<h1>HOME PAGE </h1> <br>

<h4><font color = #fafafa> Welcome to my MongoDb project, On this page you will see how the platform works </font> </h4> <br><br>


<h4><font color = #fafafa>This is a exchange plactform. Users, at registration time, receive some <font color="#7FFFD4">bitcoins </font> and they can use them place a sell order o
        keep it in them wallet! <br> <br>

                What are you waiting for? let's trade your BTC!
</font> </h4> <br><br>

<legend class = 'border-bottom mb-4'><h2>  Profile </h2> </legend>

        <h4><font color = #fafafa>
        This will be your <font color="#7FFFD4">personal page </font>where there will be all the information about your account,
        you will also be able to see the status of all your previous orders.</font> </h4> <br><br>

<legend class = 'border-bottom mb-4'><h2>  Trade </h2> </legend>

        <h4><font color = #fafafa>
        This is the main partof the plactform.
        on this page you can place <font color="#7FFFD4">buy or sell orders</font>, but be careful! orders that exceed your financial
        capacity will not be accepted</font> </h4> <br><br>

<legend class = 'border-bottom mb-4'><h2>  Total balance</h2> </legend>

        <h4><font color = #fafafa>
        Here you can have a look about the profit of all users. Them <font color="#7FFFD4">privacy </font>is protected, which mean that you couldn't see their name, but just they ID.</font> </h4> <br><br>

<legend class = 'border-bottom mb-4'><h2>  Order book </h2> </legend>

        <h4><font color = #fafafa>
all the orders still <font color="#7FFFD4">open </font> are listed here.
if you intend to place an order and you are afraid that it may take some time without it being executed you can have a look here.</font> </h4> <br><br>

{% endblock %}